$paynes-gray: #696D7D;
$cambridge-blue-1: #6F9283;
$cambridge-blue-2: #8D9F87;
$sage: #CDC6A5;
$almond: #F0DCCA;

@font-face {
	font-family: 'Eczar';
	src: url("../fonts/Eczar-Regular.woff2"), 
	     url("../fonts/Eczar-Regular.woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Eczar';
	src: url("../fonts/Eczar-Bold.woff2"), 
	     url("../fonts/Eczar-Bold.woff");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

html {
  	box-sizing: border-box;
  	font-size: 24px;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
  	padding: 0;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: 'Eczar';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: $paynes-gray;
}

h1 {
	margin: 2rem 0 1.5rem 0;
	line-height: 3rem;
	color: $cambridge-blue-1;
	font-size: 3rem;
	text-shadow: 5px 5px 1px black;
}

.puzzle {
	margin-bottom: 90px;
	background-color: $cambridge-blue-1;
	width: 565px;
	border-radius: 1rem;
	padding: 20px;
	box-shadow: 1px 3px 10px black;
	&__inside {
		position: relative;
		width: 100%;
		padding: 10px;
		border-radius: .3rem;
		background-color: $cambridge-blue-2;
		display: grid;
		grid-template-columns: repeat(5, calc(100% / 5));
		button {
			aspect-ratio: 1;
			border-radius: .3rem;
			background-color: $sage;
			border: 3px solid $cambridge-blue-2;
			font-family: 'Eczar', sans-serif;
			font-size: 1rem;
			cursor: pointer;
			transition: ease .3s;
			-webkit-tap-highlight-color: transparent;
			transform: translate(0);
			&:hover {
				background-color: $almond;
			}
		}
		.empty {
			z-index: -99;
			background-color: transparent;
			cursor: default;
			border: none;
			&:hover {
				background-color: transparent;
			}
		}
		.reserved {
			aspect-ratio: 1;
			border-radius: .3rem;
			background-color: $cambridge-blue-1;
			border: 3px solid $cambridge-blue-2;
		}
	}
	&__footer {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 50px;
		margin-top: 10px;
		height: 40px;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			cursor: pointer;
			font-weight: 700;
			background-color: $sage;
			border-radius: .3rem;
			font-size: .75rem;
			width: 70px;
			height: 40px;
			transition: ease .4s;
			&:hover {
				background-color: $almond;
			}
		}
		#play-button {
			bottom: 0;
			right: 0;

		}
		#score-button {
			bottom: 0;
			left: 0;
		}
	}
	.scores {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: .3rem;
		background-color: $cambridge-blue-2;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
  	width: 100%;
  	height: 70px;
  	background-color: $cambridge-blue-1;
  	display: flex;
  	align-items: center;
  	justify-content: space-evenly;
	line-height: 1rem;
  	img {
  		width: 70px;
  	}
}

@media (max-width: 615px) {
	.puzzle {
		width: 450px;
		&__inside button:hover {
			background-color: $sage;
		}
		&__footer div:hover {
			background-color: $sage;
		}
	}
}
@media (max-width: 530px) {
	html {
		font-size: 20px;
	}
	.puzzle {
		width: 400px;
		&__footer {
			gap: 20px;
		}
	}
}
@media (max-width: 430px) {
	.puzzle {
		border-radius: .3rem;
		padding: 10px;
		width: 340px;
		&__footer {
			flex-direction: column;
			gap: 0;
			text-align: center;
			line-height: 1rem;
		}
	}
}
